<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>Laravel Vue Crud App</h1>
            </div>
            
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<!-- <style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style> -->

<script>
    export default{
    }
</script>