<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span style="font-size: 20px;">Edit Student</span>
            </div>

            <div class="card-body">
                <form @submit.prevent="update">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" v-model="data.name" required>
                        </div>

                        <div class="col-md-12 form-group">
                            <label>Roll</label>
                            <input class="form-control" type="number" min="1" v-model="data.roll" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Reg. No</label>
                            <input class="form-control" type="number" min="1" v-model="data.reg_no" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-success">Update</button>
                            <router-link to="/" class="btn btn-danger">Cancel</router-link>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
        },
        data(){
            return {
                data:{}
            }
        },
        created(){
            let url = `http://localhost:8000/api/edit/${this.$route.params.id}`;
            this.axios.get(url).then((res) => {
                this.data = res.data;
            });
        },
        methods: {
            update(){
                let url = `http://localhost:8000/api/update/${this.$route.params.id}`;
                this.axios.put(url, this.data).then((res) => {
                   this.$router.push({name: 'index'});
                });
            }
        }
    }
</script>