<template>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span style="font-size: 20px;">Student List</span>
                <router-link to="/create" class="btn btn-success float-right">Add New</router-link>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th class="text-left">SL</th>
                            <th class="text-left">Name</th>
                            <th class="text-center">Roll</th>
                            <th class="text-center">Reg. No</th>
                            <th class="text-right">Action</th>
                        </thead>

                        <tbody>
                            <tr v-for="(item, index) in items" :key="index">
                                <td class="text-left">{{ index+1 }}</td>
                                <td class="text-left">{{ item.name }}</td>
                                <td class="text-center">{{ item.roll }}</td>
                                <td class="text-center">{{ item.reg_no }}</td>
                                <td class="text-right">
                                    <router-link :to="{name: 'edit', params: {id: item.id}}" class="btn btn-outline-info"><i class="fa fa-pencil"></i></router-link>
                                    <button class="btn btn-outline-danger" @click.prevent="destroy(item.id)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
        },
        data(){
            return {
                items: {}
            }
        },
        created(){
            let url = 'http://localhost:8000/api/get';
            this.axios.get(url).then((res) => {
                this.items = res.data;
            });
        },
        methods: {
            destroy(id){
                let url = `http://localhost:8000/api/destroy/${id}`;
                this.axios.delete(url).then((res) => {
                    this.items.splice(this.items.indexOf(id), 1);
                    // this.$router.push({name: 'index'});
                });
            }
        }
    }
</script>